<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="utf-8">
</head>

<body>

<div layout:fragment="content">
    <h1 style="padding-top: 15vh; padding-bottom: 15vh; text-align: center;">Available Polls</h1>

    <footer>
        <div class="footer-blurb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 footer-blurb-item" th:each="poll : ${polls}">
                        <img class="img-circle" th:src="${poll.photoUrl}" alt="" width="100" height="100">
                        <h3 th:text="${poll.title}">View current polls</h3>
                        <p th:text="${poll.description}">Check out the currently running polls.</p>
                        <p><a class="btn btn-default" th:href="@{/polls/{pollId}(pollId=${poll.id})}">View</a></p>
                    </div>


                </div>
                <!-- /.row -->
            </div>
        </div>

        <div class="small-print">
            <div class="container">
                <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
                <p>Copyright &copy; Example.com 2015 </p>
            </div>
        </div>
    </footer>

</div>

</body>
</html>
